https://*.boole.site:443 {
	log {
		level INFO
		output file /data/logs/acces.logs {
			roll_size 10MB
			roll_keep 10
		}
	}

	tls {$EMAIL} {
		dns cloudflare {$CF_API_TOKEN}
		resolvers 1.1.1.1 1.0.0.1
		# ca https://acme-staging-v02.api.letsencrypt.org/directory
	}

	@test host test.boole.site
	handle @test {
		respond "testing route!"
	}

	@nextcloud host cloud.boole.site
	handle @nextcloud {
		reverse_proxy localhost:11000
	}

	@vaultwarden host vault.boole.site
	handle @vaultwarden {
		reverse_proxy localhost:4100 {
			# Send the true remote IP to Rocket, so that vaultwarden can put this in the
			# log, so that fail2ban can ban the correct IP.
			header_up X-Real-IP {remote_host}
		}
	}

	@kuma host uptime.boole.site
	handle @kuma {
		reverse_proxy 100.100.176.10:4150
	}

	@immich host photos.boole.site
	handle @immich {
		reverse_proxy localhost:4200
	}

	@hole host hole.boole.site
	handle @hole {
		redir / /admin
		reverse_proxy localhost:4250
	}

	@syncthing host sync.boole.site
	handle @syncthing {
		reverse_proxy localhost:4300
	}

	# Fallback for otherwise unhandled domains
	handle {
		abort
	}
}
